<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00BCEFD61EF19C34003274F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BCEFEA1EF19C35003274F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00BCEFF51EF19C35003274F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
